<meta charset="UTF-8">
<style>@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');
    style {
        display: none !important;
    }
    ._customer-category {
        font-family: Roboto, Arial, sans-serif;
        font-size: 14px;
        font-weight: 400;
        max-width: 625px;
        box-sizing: border-box;
        padding: 20px 0;
        color: #000000;
        display: block !important;
    }
    ._customer-category__title {
        font-family: Arial, sans-serif;
        font-size: 18px;
        line-height: 21px;
        color: #333333;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 10px;
        display: block !important;
    }
    ._customer-category__descr {
        font-size: 18px;
        line-height: 21px;
        font-weight: 300;
        margin-bottom: 20px;
        display: block !important;
    }
    ._customer-category__img {
        background: linear-gradient(180deg, rgba(49, 87, 148, 0.1) 0%, rgba(16, 29, 49, 0.1) 100%);
        padding: 15px 0;
        position: relative;
        display: block !important;
    }
    ._customer-category__work-list {
        display: flex !important;
        padding: 0;
        list-style: none !important;
        text-align: center;
        margin: 0!important;
        padding-top: 10px;
        justify-content: center;
    }
    ._customer-category__work-list li {
        width: 25%;
        box-sizing: border-box;
        background-position: center top;
        background-repeat: no-repeat;
        position: relative;
        display: block !important;
    }
    ._customer-category__work-list li img {
        margin: 0 auto;
        min-width: 64px !important;
        max-height: 64px !important;
    }
    ._customer-category__img:after {
        content: "или";
        display: block !important;
        width: 14px;
        height: 14px;
        position: absolute;
        top: 40px;
        right: 0;
        color: #333333;
    }
    ._customer-category__img-mod:after {
        content: "";
    }
    ._customer-category__work-text {
        text-align: center;
        margin-top: 15px;
        display: block !important;
    }
    ._customer-category__request {
        display: flex !important;
        justify-content: space-around;
        margin-top: 20px;
        align-items: center;
        flex-wrap: wrap;
    }
    ._customer-category__request-text {
        font-size: 18px;
        line-height: 21px;
        font-weight: 300;
        text-align: center;
        margin-top: 20px;
        display: block !important;
    }
    ._customer-category__btn {
        width: 170px;
        height: 40px;
        line-height: 40px;
        font-weight: 500;
        background: #FFB300;
        border-radius: 3px;
        text-transform: uppercase;
        cursor: pointer;
        text-align: center;
        color: #ffffff;
    }
    ._customer-category__btn:hover {
        opacity: 0.85;
    }
    ._customer-category__request-phone a {
        font-size: 18px;
        line-height: 21px;
        text-decoration: none;
        color: #000000 !important;
    }
    ._customer-category__request-phone a:hover {
         text-decoration: underline;
     }

    @media screen and (max-width: 1100px) {
        ._customer-category__work-list {
            margin: 0 auto -30px !important;
            flex-direction: column;
            align-items: center;
        }
        ._customer-category__work-list li {
            width: 300px;
            margin: 0 auto 30px;
        }
        ._customer-category__img:after {
            content: "";
        }
        ._customer-category__btn {
            margin-bottom: 20px;
        }
        ._customer-category__request-phone {
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
        }
    }

</style>

<div class="_customer-category">
    <div class="_customer-category__title">Любая запчасть под заказ</div>
    <div class="_customer-category__descr">Подберем необходимую деталь по вашему запросу</div>
    <ol class="_customer-category__work-list">
        <li>
            <div class="_customer-category__img">
                <img src="img/001-binary-code.png" alt="">
            </div>
            <div class="_customer-category__work-text">
                Укажите номер<br>
                детали
            </div>
        </li>
        <li>
            <div class="_customer-category__img">
                <img src="img/002-photo-camera.png" alt="">
            </div>
            <div class="_customer-category__work-text">
                Приложите фото<br>
                шильда
            </div>
        </li>
        <li>
            <div class="_customer-category__img">
                <img src="img/002-monitor.png" alt="">
            </div>
            <div class="_customer-category__work-text">
                Приложите фото<br>
                детали
            </div>
        </li>
        <li>
            <div class="_customer-category__img _customer-category__img-mod">
                <img src="img/001-user.png" alt="">
            </div>
            <div class="_customer-category__work-text">
                Просто скажите, что<br>
                сломалось
            </div>
        </li>
    </ol>
    <div class="_customer-category__request-text">Остальное мы сделаем сами!</div>
    <div class="_customer-category__request">
        <div class="js-ga-link js-orders-callback-link tmpl-communication-content _customer-category__btn"
             data-company-id="99364290" data-company-name="Стальбизнес" data-company-name-rest="ООО"
             data-company-url="http://www.ooostalbiznes.ru" data-ga-id="CK-1193-1"
             data-params="{&quot;company_id&quot;:99364290}" data-statistics="1" data-type="callback"
             onclick="yaCounter39104700.reachGoal('megasite_comblock_order'); return true;">
            Заказать звонок
        </div>
        <div class="_customer-category__request-phone">
            <a href="tel:+74162215900" onclick="yaCounter39104700.reachGoal('megasite_comblock_tel'); return true;">+7 (4162) 21-59-00</a>
        </div>
        <div class="js-apress-order-button js-get-order-form _customer-category__btn"
             data-company-id="99364290" data-company-name="Стальбизнес" data-company-name-rest="ООО"
             data-company-url="http://www.ooostalbiznes.ru" data-ga-id="CK-1193-1"
             data-params="{&quot;company_id&quot;:99364290}" data-statistics="1" data-type="message"
             onclick="yaCounter39104700.reachGoal('megasite_comblock_order'); return true;">
            Оставить запрос
        </div>
    </div>
</div>
