<meta charset="UTF-8">
<style type="text/css">@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');
/* footer */
.fc-top {
    padding: 0 0 !important;
}
._customer-footer {
    width: 100%;
    min-width: 700px;
    display: block;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    background-color: rgb(36, 53, 76);
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}
._customer-footer__wrap {
    max-width: 1227px;
    margin: auto;
    padding: 0 20px;
}
._customer-footer__container {
    display: flex;
    justify-content: flex-start;
    position: relative;
    box-sizing: border-box;
    padding: 55px 0 26px;
}
._customer-footer__logo-block {
    display: flex;
    margin-right: 70px;
}
._customer-footer__ttl {
    font-size: 28px;
    line-height: 40px;
    font-weight: 900;
    color: #ffffff;
    text-transform: uppercase;
}
._customer-footer__ttl-txt {
    color: #808799;
    margin-bottom: 35px;
}
._customer-footer__ttl-txt span {
    text-transform: uppercase;
}
._customer-footer__logo {
    display: block;
    margin-right: 23px;
}
._customer-footer__cnt {
    color: #888888 !important;
    margin: 0 !important;
    text-decoration: none !important;
    font-weight: 300;
}
._customer-footer__cnt:hover {
    color: #ffffff !important;
    text-decoration: underline !important;
}
._customer-footer__cnt--bold {
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 10px;
}
._customer-footer__catalog-list {
    margin: 0 110px 0 0;
}
._customer-footer__catalog-list:last-child {
    margin-right: 0;
}
._customer-footer__contact-block {
    color: #ffffff;
}
._customer-footer__ul {
    list-style: none !important;
    margin: 21px 0 0 0 !important;
    padding: 0;
}
._customer-footer__ul li {
    margin-bottom: 16px;
}
._customer-footer__phone {
    margin-bottom: 14px;
    font-weight: 300;
    position: relative;
    margin-top: 21px;
}
._customer-footer__phone a,
._customer-footer__mail a {
    color: #ffffff !important;
    text-decoration: none;
}
._customer-footer__phone:before {
    content: url("img/footer/phone.png");
    position: absolute;
}
._customer-footer__mail {
    position: relative;
    margin-bottom: 14px;
}
._customer-footer__mail:before {
    content: url("img/footer/mail.png");
    position: absolute;
    top: 3px;
}
._customer-footer__map {
    position: relative;
    margin-bottom: 14px;
}
._customer-footer__map:before {
    content: url("img/footer/maps.png");
    position: absolute;
    top: 6px;
}
._customer-footer__phone a:hover,
._customer-footer__mail a:hover {
    text-decoration: underline;
}
._customer-footer__work {
    line-height: 20px;
    margin-bottom: 0;
    position: relative;
}
._customer-footer__work:before {
    content: url("img/footer/clock.png");
    position: absolute;
}
._customer-footer__mail span,
._customer-footer__map span,
._customer-footer__phone span,
._customer-footer__work span{
    padding-left: 30px;
}
._customer-footer__bottom {
    font-size: 13px;
    width: 100%;
    min-width: 700px;
    height: 50px;
    display: block;
    background: #1e2e46;
    color: #7f8ca0;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 50px;
}
._customer-btn {
    width: 180px;
    height: 40px;
    border-radius: 3px;
    border: 2px solid #ffcc00;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    color: #ffffff;
    font-weight: 300;
    text-transform: uppercase;
}
._customer-btn:hover {
    background: #ffcc00;
}
@media (max-width: 1198px) {
    ._customer-footer__logo-block {
        margin-right: 30px;
    }
    ._customer-footer__catalog-list {
        margin-right: 30px;
    }
}
/* end_footer */
</style>
<!-- Footer -->
<footer class="_customer-footer" itemscope="" itemtype="http://schema.org/LocalBusiness">
    <div class="_customer-footer__wrap">
        <div class="_customer-footer__container">
            <div class="_customer-footer__logo-block"><a class="_customer-footer__logo" href="http://www.ooostalbiznes.ru">
                <img itemprop="logo" src="img/footer/logo.png" /> </a>
                <div class="_customer-footer__desc">
                    <div class="_customer-footer__ttl">Стальбизнес</div>
                    <div class="_customer-footer__ttl-txt">Запасные части для спецтехники<br />
                        <span>SHANTUI, ZOOMLION, KOMATSU, XCMG,<br />SHAANXI, SHEHWA</span>
                    </div>
                    <div class="js-ga-link js-orders-callback-link tmpl-communication-content _customer-btn"
                         data-company-id="99364290" data-company-name="Стальбизнес" data-company-name-rest="ООО"
                         data-company-url="http://www.ooostalbiznes.ru" data-ga-id="CK-1193-1"
                         data-params="{&quot;company_id&quot;:99364290}" data-statistics="1" data-type="callback"
                         onclick="yaCounter39104700.reachGoal('megasite_footer_callback'); return true;">Обратная связь
                    </div>
                </div>
            </div>
            <div class="_customer-footer__catalog-list">
                <div class="_customer-footer__cnt--bold">О компании</div>
                <ul class="_customer-footer__ul">
                    <li><a class="_customer-footer__cnt" href="/about">О компании</a></li>
                    <li><a class="_customer-footer__cnt" href="/catalog">Товары и услуги</a></li>
                    <li><a class="_customer-footer__cnt" href="#">Доп. страница</a></li>
                    <li><a class="_customer-footer__cnt" href="#">2-я доп. страница</a></li>
                    <li><a class="_customer-footer__cnt" href="/contacts">Контакты</a></li>
                </ul>
            </div>
            <div class="_customer-footer__catalog-list">
                <div class="_customer-footer__cnt--bold">Продукция</div>
                <ul class="_customer-footer__ul">
                    <li><a class="_customer-footer__cnt" href="#">Товарная категория 1</a></li>
                    <li><a class="_customer-footer__cnt" href="#">Товарная категория 2</a></li>
                    <li><a class="_customer-footer__cnt" href="#">Товарная категория 3</a></li>
                    <li><a class="_customer-footer__cnt" href="#">Товарная категория 4</a></li>
                    <li><a class="_customer-footer__cnt" href="#">Товарная категория 5</a></li>
                </ul>
            </div>
            <div class="_customer-footer__contact-block">
                <div class="_customer-footer__cnt--bold">Контакты</div>
                <div class="_customer-footer__phone">
                    <span><a href="tel:+79245831118" itemprop="telephone"
                             onclick="yaCounter39104700.reachGoal('megasite_footer_tel'); return true;">
                        +7 (924) 583-11-18</a></span><br />
                    <span><a href="tel:+74162215900" itemprop="telephone"
                             onclick="yaCounter39104700.reachGoal('megasite_footer_tel'); return true;">
                        +7 (4162) 21-59-00</a></span>
                </div>
                <div class="_customer-footer__mail">
                    <span><a href="mailto:84162215900@mail.ru" itemprop="email"
                             onclick="yaCounter49377670.reachGoal('megasite_footer_email'); return true;">
                        84162215900@mail.ru</a></span>
                </div>
                <div class="_customer-footer__map" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                    <span itemprop="streetAddress">ул. Пионерская, 150,</span><br />
                    <span itemprop="addressLocality">г. Благовещенск</span>
                </div>
                <div class="_customer-footer__work" content="Mo,Tu,We,Th,Fr 09:00-18:00" itemprop="openingHours">
                    <span>Пн - Пт: с 9:00 до 18:00</span>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="_customer-footer__bottom">
    <div class="_customer-footer__wrap">&copy; <span itemprop="name">Стальбизнес,</span> 2015&mdash;2019</div>
</div>
<!-- end Footer -->